@charset "UTF-8";

#header {
  padding: 1em;
}

#header a {
  color: black;
}

#header a span {
  font-size: 1em;
}

#header #logo, #header #menu {
  width: 100%;
}

@media only screen and (min-width: 425px) {
  #header a span {
    font-size: 0.75em;
  }

  #header #logo, #header #menu {
    width: auto;
  }

  #header #menu {
    position: absolute;
    right: 0;
    padding-top: 1em;
  }
}

#intro {
  background-image: url('../images/overlay.png'), url('../images/intro.jpg');
  background-repeat: repeat, no-repeat;
  background-position: 0%, 50%;
  background-attachment: fixed, fixed;
  background-size: 256px 256px, cover;
}

.main {
  padding: 10em 0em;
}

.monospace {
   font-family: 'Source Code Pro', monospace;
}

.cursive {
  font-family: 'Dancing Script', cursive;
}
