@charset "UTF-8";

#header {
  position: fixed;
  width: 100%;
  background: white;
  opacity: .9;
}

#header .navbar-expand {
  justify-content: space-between;
}

#header a {
  color: black;
}

#intro {
  background-image: url('../images/overlay.png'), url('../images/intro.jpg');
  background-repeat: repeat, no-repeat;
  background-position: 0%, 70%;
  background-attachment: fixed, fixed;
  background-size: 256px 256px, cover;
  padding: 10em 0em;
  color: white;
}

#proposal_story {
  background-image: url('../images/overlay.png'), url('../images/shirleyheights.jpg');
  background-repeat: repeat, no-repeat;
  background-position: 0%, 0%;
  background-attachment: fixed, fixed;
  background-size: 256px 256px, cover;
  padding: 10em 20em;
  color: white;
}

#intro .names span {
    font-size: 2em;
}

.monospace {
   font-family: 'Source Code Pro', monospace;
}

.cursive {
  font-family: 'Dancing Script', cursive;
}

#top_button {
  position: fixed;
  right: 1em;
  bottom: 2em;
  text-align: center;
  border-radius: 100%;
  opacity: .35;
  padding: 0.5em 0.75em;
}

#top_button:hover {
  opacity: .85;
}

.story {
  padding: 5em;
  background-color: rgba(0,0,0,0.5);
}
