---
---

@charset "UTF-8";
@import "bootstrap/bootstrap.scss";

#footer {
  width: 100%;
  background: white;
  opacity: .9;
  padding: 1.5em;
}

#header .navbar-expand {
  justify-content: space-between;

  a {
    color: black;
  }
}

#intro {
  background-image: url('../images/includes/overlay.png'), url('../images/backgrounds/intro.jpg');
  background-repeat: repeat, no-repeat;
  background-position: 0%, 50% 70%;
  background-attachment: fixed, fixed;
  background-size: 256px 256px, cover;
  color: white;
  padding: 3em 0;

  .names span {
      font-size: 2em;
  }
}


#how_we_met {
  background-image: url('../images/includes/overlay.png'), url('../images/backgrounds/shirleyheights.jpg');
  background-repeat: repeat, no-repeat;
  background-position: 0%, 15% 0%;
  background-attachment: fixed, fixed;
  background-size: 256px 256px, cover;
  color: white;
}

#proposal_story {
  background-image: url('../images/includes/overlay.png'), url('../images/backgrounds/marble.jpg');
  background-repeat: repeat, repeat;
  background-position: 0%, 0% 10%;
  background-attachment: fixed, fixed;
  background-size: 256px 256px, 512px 512px;
  color: white;
}


#registry {
  background-image: url('../images/includes/overlay.png'), url('../images/backgrounds/leaves.jpg');
  background-repeat: repeat, no-repeat;
  background-position: 0%, 40% 70%;
  background-attachment: fixed, fixed;
  background-size: 256px 256px, cover;
  color: white;
  padding: 0;

  .signature {
    font-size: 1.5em;
  }
}

#countdown_timer {
  min-height: 32em;
  position: relative;
}

.cursive {
  font-family: 'Dancing Script', cursive;
}

.readable_font {
  font-family: 'Poiret One', cursive;
  font-size: 1.125em;
}

.ampersand_font {
  font-family: 'Reenie Beanie', cursive;
}

.story {
  padding: 3em 1em;
  background-color: rgba(0,0,0,.5);
}

.story h2 {
  font-size: 1.25em;
}

#canvas {
  position: relative;
  background-image: url('../images/includes/overlay.png'), url('../images/backgrounds/hands.jpg');
  background-repeat: repeat, no-repeat;
  background-position: 0%, 40% 70%;
  background-attachment: fixed, fixed;
  background-size: 256px 256px, cover;
  width: 100%;
  height: 100%;
}

#countdown_clock {
  position: absolute;
  top: 25%;
  font-size: 3em;
  color: white;
  cursor: pointer;
}

#rsvp {
  position: relative;
  background-image: url('../images/includes/overlay.png'), url('../images/backgrounds/dockyard.jpg');
  background-repeat: repeat, no-repeat;
  background-position: 0%, 40% 70%;
  background-attachment: fixed, fixed;
  background-size: 256px 256px, cover;
  background-color: white;
  padding: 0;
}

.input_underline {
  border: none;
  border-bottom: 1px solid black;
}

#input_name {
  width: 11em;
}

#input_comment {
  width: 14em;
}

.rsvp_card {
  background: white;
  padding: 1em;
  opacity: 0.95;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000040;
  .close {
    color: #EFEFEF;
    position: absolute;
    top: .15em;
    right: .35em;
    font-size: 3em;
    opacity: 1;
    text-shadow: none;
    &:hover, &:focus {
      color: #EEEEEE;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

#photosModal {
  .modal-content {
    position: absolute;
    margin: auto;
    min-height: 20%;
    min-width: 20%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    padding: 0;
    background-color: #FFFFFF;
    transition: max-height .5s, max-width .5s, height .5s, width .5s;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    &.modal-content_vertical {
      width: fit-content;
      height: inherit;
    }
  }
  .img-fluid, .img-fluid-flipped {
    max-height: 100%;
    max-width: 100%;
    opacity: 1;
    height: auto;
    width: auto;
  }
  #photoObject {
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

#photos {
  padding: 0;

  .img-thumbnail {
    margin: .25em;
  }
}

.show {
  display: block;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 1em;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  height: fit-content;
  max-height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  &:not([href]):not([tabindex]) {
    color: #EFEFEF;
    &:hover {
      color: #EFEFEF;
    }
  }
}

@keyframes spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.loading {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: auto;
  opacity: 0.7;
  background: #0000004F;

  .loading-circle {
    width: 3em;
    height: 3em;
    border: .5em solid #F3F3F3;
    border-top: .5em solid #3498DB;
    border-radius: 50%;
    animation: spin 1.25s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.is-loading {
  .loading {
    display: block;
  }
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

@media screen and (min-width:576px) {
  #countdown_timer {
    min-height: 40em;
  }
  #countdown_clock {
    top: 40%;
    padding: 0 1em;
  }
  .story-container {
    padding: 7.5em 2em;
  }
  #input_name {
    width: 16em;
  }
  #input_comment {
    width: 18em;
  }
  #registry, #rsvp {
    padding: 1em 10em;
  }
  #intro {
    padding-top: 5em;
    padding-bottom: 10em;
  }
  .rsvp_card {
    border-radius: 1em;
  }
}

@media screen and (min-width: 992px) {
    #header {
      position: fixed;
      width: 100%;
      background: white;
      opacity: .9;
      top: 0;
      z-index: 10000;
      white-space: nowrap;
    }
    #countdown_timer {
      min-height: 36em;
    }
    .story-container {
      padding: 10em 15em;
    }
    .story {
        padding: 3em 5em;
    }
    #registry {
      padding: 1.5em 20em;
    }
    #rsvp {
      padding: 1.5em 22em;
    }
    #photos {
      padding-top: 5.375em;
    }
    #intro {
      padding-top: 10em;
      padding-bottom: 10em;
    }
    #registry, #rsvp {
        margin-top: 5.375em;
    }
    #photosModal {
      .modal-content {
        max-width: 70%;
        max-height: 70%;
        height: initial;
        width: fit-content;

        &.modal-content_vertical {
          max-width: 80%;
          max-height: 80%;
        }

        #photoObject {
          border-radius: 3px;
        }
      }
    }
    .thumb-container {
      padding: 0 2em;
    }
}
