---
---
{% include header.html title="Welcome" short-title="index" %}
<!-- Intro -->
<section id="intro" class="text-center">
    <header>
        <span> With joy </span><br>
        <span>you are invited to </span><br>
        <span>the wedding of </span><br>
        <h1 class="names">
          <span class="cursive">Chaz</span><br>
          <span class="his_writing">&</span><br>
          <span class="cursive">Haylee</span>
        </h1>
        <span> on {{ site.wedding_date }}</span>
    </header>
    <footer>
      <br>
      <a class="btn btn-primary" href="rsvp"> RSVP Now!</a>
    </footer>
</section>
<!-- How We Met -->
<section id="how_we_met" class="text-center story-container">
  <div class="story">
    <h1> How We Met </h1>
    <p class="her_writing">
      The first time Chaz and Haylee met was in High School at Mr. Joseph’s Piano
      Lessons. Haylee was usually picked up after school by her grandmother; but
      that day she came with her friend on a whim.
      <br>
      At that time, Chaz had been taking piano lessons with his younger brothers for
      a few months. They started talking and immediately hit it off as friends.
      Haylee would show up every now and again; and after talking for a while
      about music and other shared interests, decided to exchange numbers.
      <br>
      Over the years, the two would call each other and talk for hours about
      nothing. Usually via skype, or hangouts or whatever was hip that year.
      Haylee would call from her aunt’s house in Philadelphia while Chaz would
      hide away in his basement talking with her until morning. They slowly became
      friends.
      <br>
      In 2017, they started talking and flirting more. Going to the Navy ball
      and exploring the southern borders were some of the adventures the two would
      share. They always joked that the two would eventually end up together. Chaz
      and Haylee never get bored of each other. Who could have guessed that after
      all these years they would end up with each other.
    </p>
  </div>
</section>
<!-- Proposal -->
<section id="proposal_story" class="text-center story-container">
  <div class="story">
    <h1> The Proposal</h1>
    <h2> Her Story </h2>
    <p class="her_writing">
      When Chaz proposed to me, I was definitely surprised. We'd talk about marriage
      but I didn't expect him to propose while he was here for Christmas.
      Chaz tells me almost everything so for him to be quiet about this must have
      been really difficult.
      <br>
      We planned to have a friend take some photos of us when he came. I thought
      he just wanted some high quality, professional looking photos, I didn't know
      that this was his plan.
      <br>
      When we were in the field he dropped his phone and wallet in the grass, so
      when he got on his knee, I thought he was just doing that to be funny while
      he picked up his things. I told him to stop playing but then I saw him with
      a bright red box.
      <br>
      "Wait what?"
      <br>
      I could see his lips moving but I was so shocked that didn't hear exactly
      what he said but obviously he was asking me to marry him. For a moment I forgot
      that we had someone there taking our pics as this was happening, I could only
      see Chaz and I was so happy, I had to say yes.
      <br>
      He was my best friend, I loved him so much even before we became a couple.
      I always wanted the best for him and I wanted him to be happy. He tells me
      that he feels so lucky to have me, but I'm so lucky to have him. Lucky to
      be in love with my best friend, and able to be with him. I said yes to him
      and to forever and it's a beautiful perfect moment I'll always remember.
    </p>
    <br>
    <br>
    <h2> His Story </h2>
    <p class="her_writing">
      I can't tell you the exact point when I knew I was gonna marry Haylee. To
      me, it just logically made sense. She had always been there for me.
      <br>
      Anyone that knows me knows that I over think everything. I had come up with
      4 or 5 elaborate plans over a month and a half with different timelines for
      what I was going to do. This was by far the smoothest plan that could have happened.
      I had ordered the ring and was weighing all my options when I remembered
      that Haylee's friend Ayana usually takes pictures for her. I didn't even
      think through the plan fully yet. I contacted Ayana and asked her if she would
      like to help me out with this plan. "Yes, I'd love to!", she said.
      <br>
      Perfect. Step 1 complete.
      <br>
      I spent a few weeks recommending things and figuring out the location and
      time with Ayana. I had a very slim timeframe to work with. That same night,
      I asked Haylee. "Hey, we should do a corny photoshoot", I suggested. She was
      immediately on board. Haylee's into art so I thought this would be the perfect
      cover, but to be honest I thought she was faking not knowing the entire time.
      She knew I ordered the ring, because I tell her too much so I had to use some
      inception on her. I lied about when it was coming, and completely stopped
      talking about it the day I ordered it. Haylee didn't catch on. Perfect, I thought.
      <br>
      3 days before I arrive she asked me about the ring. Shoot. I can't lie to her
      again, "I got it already. It's great". Thankfully, she didn't peer any deeper
      because my plan would have been up in smoke. I had planned to ask Haylee's
      parents for their blessings on Christmas Day, and pop the question the next
      day. When she decided that it was time for me to talk to her parents, she walked
      past me in the living room and announces to everyone while looking me dead
      in the eye, "I have to pee". Ugh. I got the hint. She locked herself in her
      room and left me to do my deed.
      <br>
      Her parents gave me their blessings, and called her back out. "When do you
      plan on doing it?", asked her mom. I paused. "...", "I have a plan", I replied.
      Almost thwarted again.
      <br>
      The night before I was talking to Haylee about what we should do with the
      photoshoot and she gave me exactly what she wanted to do and where to do it.
      It had matched perfectly with what I had already planned. I was like no way
      this girl doesn't know what I'm planning. That worry was soon put to rest.
      <br>
      Haylee put me through the ringer some more: the day that we had the photoshoot
      Haylee didn't want to leave the bed. I had to fight her for a solid hour before
      we headed out. I asked her what clothes she thinks I should wear, other than
      the Christmas sweaters we had planned, and she picked out the clothes she thought
      I'd look best in. Perfect.
      <br>
      We got to the location and the first thing I did was move the ring from a secret
      compartment in my book bag to my socks. I had done a test run back in Florida
      with some boot socks that I got for OCS and a pair of long pants I have.
      "You can't even tell". It was perfect. We walked around the abandoned house,
      took some pictures, then went to the field where we were supposed to take
      our corny photos officially.
      <br>
      The grass was long, about knee high. My keys and wallet were buldging in
      my pants. "Take them out" she told me. I threw them on the ground in front
      of us. We took a few more pictures, my heart pounding now. It's now or never
      I guess. Halfway through the shoot I got down on my knee (the wrong knee
      the first time, mind you), pulled out the ring and waited for her to look
      back at me. "Boy! Stop playing!" She yelled. "Wait...you're serious?" She
      continued. I was so nervous now. She was flustered, I didn't know what to
      say. I had planned an entire speech but only the last few words came out.
      "Haylee, will you take my last name and marry me?"
      <br>
      She said she doesn't remember me saying anything at all, but she said "Yes!"
      And the rest is history. I'm so glad the plan worked out so well. I still think
      it's funny that I got her to plan her own engagement (or at least feel like
      the photoshoot was her idea) without her knowing.
    </p>
  </div>
</section>
<section id="countdown_timer" class="d-flex justify-content-center">
  <canvas id="canvas"> </canvas>
  <div id="countdown_clock" class="text-center cursive">
      <input id="wedding_date" type="hidden" name="wedding_date" value="{{ site.wedding_date }}">
      <span id="countdown_clock-days"></span>
      <span id="countdown_clock-hours"></span>
      <span id="countdown_clock-minutes"></span>
      <span id="countdown_clock-seconds"></span>
      <br>
      until our union.
  </div>
  <script src="js/countdown.js"> </script>
  <script src="js/fireworks.js"></script>
</section>
{% include footer.html %}
