---
---
{% include header.html title="Welcome" short-title="index" %}
<!-- Intro -->
<section id="intro" class="text-center">
    <header>
      <p>
      <span> With joy </span><br>
      <span>you are invited to </span><br>
      <span>the wedding of </span><br>
      <h1 class="names">
        <span class="cursive">Chaz</span><br>
        <span class="his_writing">&</span><br>
        <span class="cursive">Haylee</span>
      </h1>
      <span> on March 2019 </span>
    </p>
    </header>
    <footer>
      <a class="btn btn-primary" href="rsvp.html"> RSVP Now! </a>
    </footer>
</section>
<!-- How We Met -->
<section id="how_we_met" class="text-center story-container">
  <div class="story">
    <h1> How We Met </h1>
    <p class="her_writing">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus imperdiet nisi pulvinar lacinia. Donec id tempus magna. Curabitur cursus felis a malesuada laoreet. Integer aliquet sit amet ante at tristique. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque tempor, arcu vitae consectetur pulvinar, urna turpis porttitor felis, ac bibendum nisl eros ut ex. In hac habitasse platea dictumst. Pellentesque accumsan luctus purus quis tempus. Donec eu justo et lorem consectetur varius. Donec vitae sem at neque mollis accumsan quis a ante. Nunc vehicula arcu eu elit bibendum varius non eget enim. Phasellus vehicula enim nibh. Duis nec vulputate odio, ut maximus eros.
      <br> <br>
      Nam ullamcorper ipsum nulla, ut dapibus erat gravida in. Nam placerat ullamcorper erat, nec dictum tellus elementum posuere. Ut suscipit semper libero et ullamcorper. Fusce accumsan aliquam bibendum. Pellentesque fermentum enim ut cursus sagittis. Duis laoreet tincidunt elit ut scelerisque. Integer semper, velit convallis efficitur imperdiet, diam nibh feugiat eros, at mattis risus leo vel velit. Sed lacinia erat eget blandit malesuada. Nulla blandit nisi quis consequat mollis.
    </p>
  </story>
</section>
<!-- Proposal -->
<section id="proposal_story" class="text-center story-container">
  <div class="story">
    <h1> The Proposal</h1>
    <h2> Her Story </h2>
    <p class="her_writing">
      Integer fringilla pretium efficitur. Cras consequat cursus tortor, et facilisis ante imperdiet id. Cras eleifend tincidunt purus, at luctus quam accumsan sit amet. Aliquam congue cursus ex et elementum. Aliquam nisl nisl, pellentesque in sagittis id, ullamcorper et dui. Nulla a nulla fringilla dolor vehicula scelerisque. Morbi pretium leo eget tellus tincidunt efficitur. Nulla eget scelerisque libero. Morbi lobortis efficitur elit, eu efficitur elit porta maximus. Nulla a mattis orci.

      Ut sed vehicula est. Maecenas vitae pulvinar elit, ac maximus odio. Integer congue dui ac velit interdum congue. Integer scelerisque quam elementum sem mattis fringilla. Proin bibendum eros at efficitur rutrum. Nam in nunc lorem. Aliquam rhoncus elementum nulla, aliquam facilisis tortor placerat quis. Ut commodo efficitur risus eget scelerisque. Pellentesque viverra facilisis tortor. Nullam tincidunt neque vel maximus lacinia. Morbi convallis est quis arcu elementum varius. Curabitur ut magna ligula. Integer a augue et massa fringilla sodales. Vestibulum lectus purus, viverra eget augue ut, imperdiet tempor metus.    </p>

    <h2> His Story </h2>
    <p class="her_writing">
Aenean nec hendrerit erat. Sed eget odio tellus. Aliquam erat volutpat. Mauris sem est, pretium quis eleifend sed, tristique sed ex. Praesent bibendum quam ac velit rutrum laoreet. Sed vel semper leo, tempor feugiat justo. Proin at dui rhoncus, pulvinar mauris at, elementum ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam eget egestas mauris. Phasellus viverra ligula libero, molestie pretium nunc fermentum id. Proin et mollis odio, sed sollicitudin felis. Morbi mattis, nibh a dapibus consectetur, lectus risus vehicula purus, nec eleifend libero sem nec ex. Cras non egestas tellus, sit amet dignissim tortor. Vestibulum felis risus, convallis et sollicitudin ac, faucibus sit amet justo.    </p>
  </div>
</section>
<section id="countdown_timer" class="text-center">
  <canvas id="canvas"> </canvas>
  <script type="text/javascript" src="js/fireworks.js"></script>
  <div id="countdown_clock" class="cursive">
      <span id="countdown_clock-days"></span>
      <span id="countdown_clock-hours"></span>
      <span id="countdown_clock-minutes"></span>
      <span id="countdown_clock-seconds"></span>
      <br>
      until our union.
  </div>
  <script type="text/javascript" src="js/countdown.js"> </script>
</section>
{% include footer.html %}
