---
---
{% include header.html title="Welcome" short-title="index" %}
<!-- Intro -->
<section id="intro" class="text-center">
    <header>
      <p>
      With joy <br>
      you are invited to <br>
      the wedding of <br>
      <h1 class="names">
        <span class="monospace">Chaz</span><br/>
        <span class="cursive"> & <br/>
          Haylee</span>
      </h1>
      on March 2019
    </p>
    </header>
    <footer>
      <a class="btn btn-primary" href="/rsvp.html"> RSVP Now! </a>
    </footer>
</section>
<!-- Proposal -->
<section id="proposal_story" class="text-center">
  <div class="story">
    <h1> The Proposal</h1>
    <h2> Her Story </h2>
    <p class="her_writing">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus imperdiet nisi pulvinar lacinia. Donec id tempus magna. Curabitur cursus felis a malesuada laoreet. Integer aliquet sit amet ante at tristique. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque tempor, arcu vitae consectetur pulvinar, urna turpis porttitor felis, ac bibendum nisl eros ut ex. In hac habitasse platea dictumst. Pellentesque accumsan luctus purus quis tempus. Donec eu justo et lorem consectetur varius. Donec vitae sem at neque mollis accumsan quis a ante. Nunc vehicula arcu eu elit bibendum varius non eget enim. Phasellus vehicula enim nibh. Duis nec vulputate odio, ut maximus eros.
    </p>

    <h2> His Story </h2>
    <p class="his_writing">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus imperdiet nisi pulvinar lacinia. Donec id tempus magna. Curabitur cursus felis a malesuada laoreet. Integer aliquet sit amet ante at tristique. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque tempor, arcu vitae consectetur pulvinar, urna turpis porttitor felis, ac bibendum nisl eros ut ex. In hac habitasse platea dictumst. Pellentesque accumsan luctus purus quis tempus. Donec eu justo et lorem consectetur varius. Donec vitae sem at neque mollis accumsan quis a ante. Nunc vehicula arcu eu elit bibendum varius non eget enim. Phasellus vehicula enim nibh. Duis nec vulputate odio, ut maximus eros.
    </p>
  </div>
</section>
<section id="countdown_timer" class="text-center">
  <script type="text/javascript" src="js/countdown.js"> </script>
  <div id="countdown_clock">
    <a class="cursive no_link" href="details.html">
      <span id="countdown_clock-days"></span>
      <span id="countdown_clock-hours"></span>
      <span id="countdown_clock-minutes"></span>
      <span id="countdown_clock-seconds"></span>
      <br>
      until our union.
    </a>
  </div>
</section>
{% include footer.html %}
