---
---
{% include header.html title="Photos" short-title="photos" %}
<section id="photos">
  <div class="thumb-container">
    <h1 class="photo_category text-center cursive">The Engagement</h1>
    <div id="thumbnails" class="text-center">
      {% assign thumbnails = site.static_files | where: "engagement", true %}
      {% for thumbnail in thumbnails %}
        <img id="thumb{{ thumbnail.basename }}" src=".{{ thumbnail.path }}" class="img-thumbnail" onclick="openModal({{ thumbnails.size }});currentSlide('{{ thumbnail.basename }}', this.naturalWidth, this.naturalHeight, '{{ thumbnail.path }}')">
      {% endfor %}
    </div>
  </div>
  <div id="photosModal" class="modal">
    <div id="photosHolder" class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <div class="loading">
        <div class="loading-circle">
        </div>
      </div>
      <img id="photoObject" class="img-fluid">
      <a class="prev" onclick="moveSlide(-1)">&#10094;</a>
      <a class="next" onclick="moveSlide(1)">&#10095;</a>
    </div>
  </div>
  <script src="js/photobox.js"></script>
</section>
{% include footer.html photo=true %}
