---
---
{% include header.html title="Registry" short-title="registry" %}
<section id="registry">
  <div class="story text-center">
    <p class="monospace text-uppercase"> You're probably thinking of a present you'll bring, <br>
        But your presence will mean everything! <br>
        But if you so insist, <br>
        there is something to which we both aspire: <br>
        special travel plans to follow our day. <br>
        No need to go overboard or break the bank <br>
        Whatever your gift it will be recieved with thanks </p>
        <p class="signature cursive"> Chaz & Haylee </p>
    <a class="btn btn-warning"  href="https://paypal.me/ChazG"> PayPal </a>
    <a class="btn btn-success" href="https://cash.me/$chaz2x4"> Square Cash </a>
  </div>
</section>
{% include footer.html %}
