<!DOCTYPE html>
<html>

<head>
  <title> {{include.title }} | Chaz + Haylee </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
  <link rel="manifest" href="images/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower|Reenie+Beanie|Source+Code+Pro" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body id="top" {% if include.hide_scroll %} style="overflow: hidden;" {% endif %}>
  <header id="header">
    <nav class="navbar navbar-expand flex-column flex-sm-row">
      <a id="logo" class="navbar-brand text-center" href="./">
        <h1>
          <span class="cursive">C</span> <span class="his_writing">&</span> <span class="cursive"> H </span>
        </h1>
      </a>
      <div class="navbar-nav flex-row justify-content-center justify-content-sm-end" id="menu">
        <a class="nav-item nav-link" href="./">Story</a>
        <a class="nav-item nav-link" href="details">Details</a>
        <a class="nav-item nav-link" href="photos">Photos</a>
        <a class="nav-item nav-link" href="registry">Registry</a>
        <a class="nav-item nav-link" href="rsvp">RSVP</a>
      </div>
    </nav>
  </header>
