<!DOCTYPE html>
<html>

<head>
  <title> {{include.title }} | Chaz + Haylee </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <header id="header">
    <nav class="nav">
      <a id="logo" class="nav-link text-center" href="/index.html">
        <span>
          <span class="monospace">Chaz</span> <span class="fancy">& Haylee</span>
        </span>
      </a>
      <div class="nav flex-row justify-content-center justify-content-sm-end" id="menu">
        <a class="nav-link" href="/index.html">Home</a>
        <a class="nav-link" href="/details.html">Details</a>
        <a class="nav-link" href="/photos.html">Photos</a>
        <a class="nav-link" href="/rsvp.html">RSVP</a>
      </div>
    </nav>
  </header>
